h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

main {
  font-family: Verdana;
  font-size: 20px;
  color: gray;
  text-align: center;
}

.dwnld {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

html {
  background-color: black;
}

span.copyright {
  font-family: Verdana;
  font-size: 20px;
  color: gray;
  text-align: right;
}

footer  {
  text-align: right;
}

#top {
  text-align: center;
}

#middle {
  text-align: center;
}

#bottom {
  text-align: center;
}
